page-login {
    .pico {
        color: map-get($colors, primary);
    }
    button {
        float: right;
    }
    .login-header-container {
        background: url("../assets/img/pen-bg.jpg");
        background-size: cover;
        position: relative;
        width: 100%;
        background-position-x: center;
    }
    .login-header-image {
        height: 160px;
        /*can be anything*/
        width: 100%;
        /*can be anything*/
        position: relative;
        img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .login-header-text {
        text-align: center;
        padding: 20px;
        color: #333;
        font-size: medium;
        h1 {
            font-weight: bold;
        }
    }
}