<!-- <ion-card>
    <ion-card-header>
        <p>{{day.date.toLocaleString()}}</p>
    </ion-card-header>

    <ion-card-content>
        <ion-item>
            <img [src]="image">
        </ion-item>
        <ion-item>
            <p>Rating: {{day.rating}}</p>
        </ion-item>
        <ion-item>
            <p>{{day.desc}}</p>
        </ion-item>

    </ion-card-content>
</ion-card> -->


<ion-header>
    <ion-navbar>
        <ion-title>
            Days
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addRecord()">
   <ion-icon name="add"></ion-icon>
    </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list class="timeline">

        <ion-header class="timeline-header">
            <h1>{{date_of_page | date:'MMMM yy'}}</h1>
        </ion-header>

        <ion-card class="day" text-wrap *ngFor="let day of daysOfMonth">

            <div class="day-img-container" *ngIf="day.img">
                <div class="day-img" [style.backgroundImage]="'url('+ day.img +')'">
                </div>
                <div class="day-date">
                    <span class="day-date-day" style="display:block;">{{day.date | date :'dd'}}</span>
                    <span class="day-date-month">{{day.date | date :'MMM'}}</span>
                </div>
            </div>

            <ion-item>
                <h2 class="date">{{ day.date | date}}</h2>
                <rating style="float:left;" [(ngModel)]="day.rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
                <p class="desc">"{{ day.desc }}"</p>
            </ion-item>

            <div class="manage-record" padding>
                <button ion-button text-center color="primary" (click)="editDay(day)">Edit</button>
                <button ion-button text-center color="danger" (click)="deleteDay(day)">Delete</button>
            </div>

        </ion-card>

    </ion-list>

    <div>
        <div text-center>
            <button ion-button text-center color="primary" width-33 (click)="previousMonth()">Previous month</button>
            <button ion-button icon-only width-33>
        <ion-icon name="calendar"></ion-icon>
      </button>
            <button ion-button text-center width-33 color="primary" (click)="nextMonth()">Next month</button>
        </div>
    </div>

</ion-content>



<!--
  Generated template for the DaysPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

    <ion-navbar>
        <ion-title>Days</ion-title>
        <ion-buttons end>
            <button ion-button color="primary" (click)="navigateToPage('NewDayPage')">New</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <day *ngFor="let day of daysList | async" [day]="day"></day>

</ion-content> -->